/3DObjectDeformation.sdf
/3DObjectDeformation/3DObjectDeformation.vcxproj.user
/3DObjectDeformation/bin/3DObjectDeformation.exe
/3DObjectDeformation/bin/3DObjectDeformation.exp
/3DObjectDeformation/bin/3DObjectDeformation.lib
/3DObjectDeformation/bin/assimp.dll
/3DObjectDeformation/bin/fmodex64.dll
/3DObjectDeformation/bin/fmodexL64.dll
/3DObjectDeformation/bin/FreeImage.dll
/3DObjectDeformation/bin/freetype.dll
/3DObjectDeformation/bin/glut32.dll
/3DObjectDeformation/bin/libeay32.dll
/3DObjectDeformation/bin/ssleay32.dll
/3DObjectDeformation/bin/Zlib.dll
/3DObjectDeformation/obj/Release/3DObject.7FD42DF7.tlog
/3DObjectDeformation/obj/Release/3DObjectDeformation.Build.CppClean.log
/3DObjectDeformation/obj/Release/3DObjectDeformation.log
/3DObjectDeformation/obj/Release/3DObjectDeformation.vcxprojResolveAssemblyReference.cache
/3DObjectDeformation/obj/Release/GreenCoordinate.obj
/3DObjectDeformation/obj/Release/main.obj
/3DObjectDeformation/obj/Release/Object_3D.obj
/3DObjectDeformation/obj/Release/ofApp.obj
/3DObjectDeformation/obj/Release/ofxAssimpAnimation.obj
/3DObjectDeformation/obj/Release/ofxAssimpMeshHelper.obj
/3DObjectDeformation/obj/Release/ofxAssimpModelLoader.obj
/3DObjectDeformation/obj/Release/ofxAssimpTexture.obj
/3DObjectDeformation/obj/Release/ofxBaseGui.obj
/3DObjectDeformation/obj/Release/ofxButton.obj
/3DObjectDeformation/obj/Release/ofxGuiGroup.obj
/3DObjectDeformation/obj/Release/ofxLabel.obj
/3DObjectDeformation/obj/Release/ofxPanel.obj
/3DObjectDeformation/obj/Release/ofxSlider.obj
/3DObjectDeformation/obj/Release/ofxSliderGroup.obj
/3DObjectDeformation/obj/Release/ofxToggle.obj
/3DObjectDeformation/obj/Release/Util.obj
/3DObjectDeformation/obj/Release/vc140.pdb
/3DObjectDeformation/obj/Release/3DObject.7FD42DF7.tlog/3DObjectDeformation.lastbuildstate
/3DObjectDeformation/obj/Release/3DObject.7FD42DF7.tlog/3DObjectDeformation.write.1u.tlog
/3DObjectDeformation/obj/Release/3DObject.7FD42DF7.tlog/CL.command.1.tlog
/3DObjectDeformation/obj/Release/3DObject.7FD42DF7.tlog/CL.read.1.tlog
/3DObjectDeformation/obj/Release/3DObject.7FD42DF7.tlog/CL.write.1.tlog
/3DObjectDeformation/obj/Release/3DObject.7FD42DF7.tlog/link.command.1.tlog
/3DObjectDeformation/obj/Release/3DObject.7FD42DF7.tlog/link.read.1.tlog
/3DObjectDeformation/obj/Release/3DObject.7FD42DF7.tlog/link.write.1.tlog
/3DObjectDeformation/obj/Release/3DObject.7FD42DF7.tlog/rc.command.1.tlog
/3DObjectDeformation/obj/Release/3DObject.7FD42DF7.tlog/rc.read.1.tlog
/3DObjectDeformation/obj/Release/3DObject.7FD42DF7.tlog/rc.write.1.tlog
/.vs/3DObjectDeformation/v14/*.suo
/*.opensdf
